---
layout: default
---

<div class="post">
    <h2><a href="http://swipetounlock.co.uk">Swipe To Unlock</a></h2>
    <p>A new site launched in September 2020, where I share tips and thoughts about software away from the computer</p>
    <p><a href="http://swipetounlock.co.uk">Visit Swipe to Unlock now</a></p>
</div>

<div class="flex">
    <div class="post two-third">
        <h2>Featured</h2>
        <h3><a href="blog/2019-09/checkbox-testing">Checkbox testing</a></h3>
        <p>But there’s so much wrong with the act of checkbox testing. As part of a wider testing strategy, it does have
            its place. But it’s often seen a lot as being the only method of testing a new feature, and this is where
            the problem lies. Let me explain why. <a href="blog/2019-09/checkbox-testing">[Read more&hellip;]</a></p>

        <h3><a href="/blog/2018-01/we-depend-on-acceptance-criteria-too-much">We depend on Acceptance Criteria too
            much</a></h3>
        <p>In the last year or so, I realised that perhaps we might be relying on acceptance criteria too much. Doing so
            can be dangerous; it can easily lead to checkbox testing, and it can lead to the tester (and even the
            developer)
            not thinking at all. <a href="/blog/2018-01/we-depend-on-acceptance-criteria-too-much">[Read
                more&hellip;]</a></p>

    </div>

    <div class="one-third">
        <div class="post">
            <h2>Latest blog posts</h2>
            <ul>
                {%- for post in site.posts limit: 5 -%}
                <li>{% include post_header.html as_link="Permalink" post=post %}</li>
                {%- endfor -%}
            </ul>
            <a href="/blog">See all posts</a>
        </div>

        <div class="post tagcloud">
            <h2>Tags</h2>
            {% assign sorted_tags = site.tags | sort %}
            {% for tag in sorted_tags %}<a href="/tag/{{ tag[0] | slugify}}">{{ tag[0] }}</a> {% endfor %}
        </div>
    </div>
</div>
